@import "../../base/settings";
@import "../../base/mixins";

.jobsPage {
  padding: 2rem;
  display:grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr;
  grid-template-rows: 3rem repeat(auto-fill, 1fr);
  width: 100%;
}

.jobsPage__picture {
  height: 20rem;
  place-self: center;
  margin-top: 1rem;
}

.projectJobs__listContainer {
  display: grid;
  grid-gap: 0;
  grid-template-columns: 1fr;
  grid-auto-rows: 4rem;
  justify-content: space-between;
}

.projectJobs__createBtn {
  @include buttonStyles;
  width: 7rem;
  height: 7rem;
  text-decoration: none;
  color: $text_on_white;
  display:grid;
  justify-content: center;
  align-content: center;
  background: $background_3;
}

