@import "../base/settings";
@import "../base/mixins";

footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  justify-content: center;
  border-top: 1px solid $border;
  z-index: 50;
}

@media(max-width : 500px) {
  .footer__link {
    font-size: 1rem;
  }
}