@import "../base/mixins";
@import "../base/settings";

.passwordReset__form {
  @include tabStyle;
  min-height: 30rem;
  fieldset {
    border: none;
    height: 100%;
  }

  h2 {
    text-align: center;
  }
}

.passwordReset__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;

  input {
    @include inputStyles;
  }

  button {
    @include buttonStyles;
  }
}