@import '../base/settings';

.user__widget {
  border-bottom: 1px solid $border;
  display: grid;
  justify-content: center;
  align-content:center;
  justify-items: center;
}

.user__avatar {
  border-radius: 50%;
  max-width: 100%;
  width: 15rem;
  height: 15rem;
  background-size: cover;
}