@import "./settings";
@import "./mixins";

.auth {
  padding: 2rem;
  display: grid;
  grid-template-columns: 40%;
  justify-content: center;
  justify-items:center;
}

.signin__form, .signup__form {
  @include tabStyle;
  fieldset {
    border:none;
  }

  input {
    @include inputStyles;
  }

  select {
    @include selectStyles;
  }
}

.form__inner {
  display:grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  grid-auto-rows : 1fr 1fr 1fr 1fr 3rem;
}

.signinForm__header{
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.signinForm__submit {
  @include buttonStyles;
}

.forgotPassword, .signup__button {
  text-decoration: none;
  background: $green;
  padding: 0.5rem;
  color: white;
  border-radius: 5px;
}

.forgotPassword{
  justify-self: start;
}

.signup__button {
  margin-left: 1rem;
}


// signup page

.signup__form {
  width: 50%;
}

.signup__inner {
}
.label--select {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
}
