@import "./mixins";
@import "./_settings.scss";

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma,
  Sans-Serif;
  font-weight: normal;
  color: $text-on-white;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

body {
  margin: 0;
  font-size: $m-size;
  overflow-x: hidden;
}

#__next {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 12fr 1fr;
  grid-template-areas:
    "nav nav"
    "sidebar content"
    "footer footer"
;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
  font-size: 1.5rem;
}

// prevents accidental overflow
img, embed, video, object {
  max-width: 100%;
}

// animation for page changes
.mount-animation-appear {
  opacity: 0.01;
}

// animation for page changes
.mount-animation-appear.mount-animation-appear-active {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.error {
  color : #b20000;
  font-weight: bold;
}

// loading animation
.loading-icon {
  @include display-flex(center, false);
  align-items: center;
  min-height: 80vh;
}

.divider {
  margin-top: 5rem;
}
