@import "./settings";

// a base template for a link
@mixin link($color : black) {
  color: $color!important;
  &:hover {
    text-decoration: none;
    color : darken($color, 70%)!important;
  }
  @content;
}

// a base template for a section
@mixin section ($flex:false, $margin:$section_margin, $padding:$section_padding, $background:white, $justify:flex-start) {
  display: if($flex, flex, block);
  justify-content:$justify;
  background: $background;
  padding : $padding;
  flex-wrap: wrap;
  margin: $margin;
  @content;
}

// bordered bottom
@mixin border-bottom($color:$text-on-black){
  border-bottom: 1px solid $color;
  padding-bottom: 1rem;
  @content;
}

// box shadow
@mixin shadowBox {
  -webkit-box-shadow: 0px 2px 5px 1px $shadow;
  -moz-box-shadow:    0px 2px 5px 1px $shadow;
  box-shadow:         0px 2px 5px 1px $shadow;
  @content;
}

@mixin inputStyles {
  background: rgba(255,255,255,.1);
  border: none;
  border-radius: 4px;
  font-size: 15px;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #e8eeef;
  color:#8a97a0;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;

  &:focus  {
    background: #d2d9dd;
  }
}

@mixin buttonStyles {
  display: block;
  padding: 19px 39px 18px 39px;
  color: $text_on_white;
  background: #e8eeef;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  width: 100%;
  border: 1px solid $border;
  border-radius: 3px;
  outline: 0;

  &:hover {
    background: darken(#e8eeef, 5%)
  }
}

@mixin tabStyle {
  @include shadowBox;
  display: grid;
  border: 1px solid $border;
  padding: 3rem;
  background: $background_3;
  border-radius: 10px;
}

@mixin greenTags {
  background: $green;
  color: $text_on_green;
  padding: 1rem;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 5px;
  text-transform: uppercase;

  &:hover {
    background: darken($green, 5%);
    cursor: pointer;
  }
}

@mixin tableStyles {
  background: $background_3;
  border-bottom: $table_border;;
  font-size: 1.5rem;

  & > * {
    padding: 0.5rem;
    margin: 0;
    display: flex;
    align-items:center;
    font-weight: 400;
    border-left: $table_border;;
  }
  &:first-child {
    border-top: $table_border;
  }
}

@mixin display-flex($justify-content:flex-start, $flex-wrap:true, $flex-direction:row){
  display: flex;
  justify-content: $justify-content;
  flex-direction: $flex-direction;
  flex-wrap: if($flex-wrap, wrap, none);
}