@import "../../base/settings";

.participant__widget {
  border: 1px solid $border;
  padding: 1rem;
  display:grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.participant__avatar {
  max-width: 100%;
  border-radius: 50%;
}