@import "../../base/settings";
@import "../../base/mixins";

.peoplePage {
  min-width: 100%;
  padding: 2rem;
  display : grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30rem 5rem 5rem 1fr;
  justify-content: center;
  justify-items: center;
}

.peoplePage__people {
  width: 100%;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(25rem, max-content));
  justify-content: center;
}

.peoplePage__image {
  height: 30rem;
}

.peoplePage__addLink {
  @include greenTags;
  place-self: start;
  text-decoration: none;
  text-align: center;
  color: white;
}

@media(max-width: 900px) {
  .peoplePage {
    grid-template-rows: 32rem 6rem 6rem 1fr;
  }
  .peoplePage__image {
    margin-bottom: 2rem;
  }
}